.card {
  width: auto;
  margin: 1rem 0rem;
  padding: 0.5rem;
  display: inline-block;
}

.category {
  color: gray;
  text-align: right;
  font-style: italic;
  font-weight: 400;
}

.btn {
  width: 100%;
  margin-top: 1rem;
}
